extends _layout/layout

//- gulp

block body
	section.home-banner
		.container-fluid
			.row
				.col-12
					.owl-carousel.owl-theme
						.item 
							.info
								.container
									.row
										.col-8
											h2 title
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusamus laborum vel, dolor minima, distinctio alias dignissimos neque veritatis eligendi debitis odio esse amet pariatur autem voluptate explicabo facere earum?
							figure
								img(src="./img/home_banner.png", alt="")
						.item 
							.info
								.container
									.row
										.col-8
											h2 title
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusamus laborum vel, dolor minima, distinctio alias dignissimos neque veritatis eligendi debitis odio esse amet pariatur autem voluptate explicabo facere earum?
							figure
								img(src="./img/home_banner.png", alt="")
						.item 
							.info
								.container
									.row
										.col-8
											h2 title
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusamus laborum vel, dolor minima, distinctio alias dignissimos neque veritatis eligendi debitis odio esse amet pariatur autem voluptate explicabo facere earum?
							figure
								img(src="./img/home_banner.png", alt="")
						
	section.home-news
		.container
			.row
				.col-md-4.item
					a(href="#" title="title")
						figure
							.blockimg
								i.fa.fa-eye
								img(src="./img/home_img_1.png", alt="")
							figcaption
								h3 title
								time 17/08/2018
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam alias voluptatibus, voluptatem numquam fuga ipsa atque et soluta ratione expedita ipsam aperiam molestiae sed quaerat provident eos eius eligendi? Veritatis.
				.col-md-4.item
					a(href="#" title="title")
						figure
							.blockimg
								i.fa.fa-eye
								img(src="./img/home_img_2.png", alt="")
							figcaption
								h3 title
								time 17/08/2018
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam alias voluptatibus, voluptatem numquam fuga ipsa atque et soluta ratione expedita ipsam aperiam molestiae sed quaerat provident eos eius eligendi? Veritatis.
				.col-md-4.item
					a(href="#" title="title")
						figure
							.blockimg
								i.fa.fa-eye
								img(src="./img/home_img_3.png", alt="")
							figcaption
								h3 title
								time 17/08/2018
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam alias voluptatibus, voluptatem numquam fuga ipsa atque et soluta ratione expedita ipsam aperiam molestiae sed quaerat provident eos eius eligendi? Veritatis.

	section.home-logo
		.container
			.row
				.col-12
					.owl-carousel.owl-theme
						.item 
							figure
								img.img-fluid(src="./img/home_logo_1.png", alt="")
						.item 
							figure
								img.img-fluid(src="./img/home_logo_2.png", alt="")
						.item 
							figure
								img.img-fluid(src="./img/home_logo_3.png", alt="")
					
