.home-slider
	.container-fluid
		figure 
			position: relative
			.img-banner
				width: 100%
				overflow: hidden
				text-align: center	
			figcaption 
				position: absolute
				top: 50%
				left: 10%
				transform: translateY(-50%)
				width: 30%
				h2, p 
					color: darken(#fff, 10%)
				.btn-viewmore
					background: #ffffff
					color: #000
					border-radius: 0
					&:hover, &:focus
						background: lighten(#000, 40%)
						color: #fff
				+media-breakpoint-down(sm)
					h2
						font-size: 1.5rem
					p, a 
						font-size: 0.9rem
